*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*|||||||||||||| Logo |||||||/*/

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;}


body{
    background-image: url("images/forest.jpg");
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: lightgrey;
    background-size: cover;
}

/*|||||||||| Top Bar Navigation ||||||||||*/

.top-bar-nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 10px;
    background-size: cover;
    padding: 10px 0;
   /* padding-right: 50px;
    padding-left: 50px;*/
}

/*|||||||||| Top Bar Navigation Links ||||||||||*/
nav a {
    font-size: 15px;
    padding:10px;
    align-items: center;
    justify-content: center;
    display: inline-block;
    position: relative;
    font-family: Arial;
    line-height: 20px;
    color: black;
    text-decoration: none;
    border: 1px solid black;

}

nav a:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

nav a:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*||||||||||||||||||||||||||||||||||||||*/


.go-back-to-top {
    display: flex;
    position: fixed;
    right: 0;
    bottom:0;
    width: 20%;
    height: 10%;
    font-weight: bold;

}


.go-back-to-top a{
   color: lightgrey;
    text-decoration: none;

}
/*||||||||||||||||||||||||||||||||||||||*/



a{
    display: inline-block;
    position: relative;
    font-family: Arial;
    color: black;
    text-decoration: underline;

}


.heading{
    display: flex;
    font-family: Arial;
    font-size: 100px;
    justify-content: center;
    padding: 100px 0 100px 0;
    margin: 0 0 50px 0;
}

h1{
    display:none;
}

h2 {
    color: black;
    font-family: Arial;
    color: black;
    margin-bottom: .7em;
    font-size: 30px;
}

.article,p{
    color: black;
    font-family: Arial;

}

.article, .contact-us {
    background-color: lightgrey;
    opacity: 0.6;
    max-width: 540px;
    margin:0 auto;
    margin-bottom: 5em;
    width: 100%;
    padding: 4em 1em;
}

/* ||||||||||||||||||| Form ||||||||||||||||*/

.contact-us{
    border-radius: 3px;
    font-family: Arial;
    font-weight: bold;
    margin:0 auto;
    margin-bottom: 5em;
    width: 100%;
    padding: 4em 1em;
}

.form-row{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
}

.form-row textarea{
    resize:none;
    display:flex;
}

.button{
    margin-top:10px;
    font-weight: bold;
}

/*|||||||||||| Timeline ||||||||||||||||*/

h3 {

    font-family: Arial;
    font-weight: bold;
}

.container{
    position: relative;
    min-width: 100px;
    border: 1px solid black;
    border-radius: 5px;
}


.timeline{
    width: 5px;
    background-color: black;
    margin: 0 auto;
    border-radius: 5px;
}



.timeline-box {
    background-color: lightgrey;
    opacity: 0.6;
    max-width: 540px;
    margin: 0 auto;
    margin-bottom: 5em;
    width: 100%;
    padding: 4em 1em
}

.left{
    transform: translateX(-110px);
}

.right{
    transform : translateX(15px);
}

/*|||||||||||||||||||||||||||||||||*/

@media only screen and (min-width: 800px) {


    .article p{
        color: black;
    }

    .container{
        position: relative;
        min-width: min-content;
        border: 1px solid black;
        border-radius: 5px;
        font-size: 20px;
    }

    .left{
        transform: translateX(-57px);
    }

    .right{
        transform : translateX(5px);
    }


    nav a {
        font-size: 25px;
        padding: 10px;
        align-items: center;
        justify-content: center;
        display: inline-block;
        position: relative;
        font-family: Arial;
        line-height: 20px;
        color: black;
        text-decoration: none;
        border: none;
    }

    .logo{
        display: flex;
        justify-content: center;
        margin-top: 15px;
        margin-left: auto;
        margin-right:auto;
    }
    .contact-us{
        width: 50%;
    }
}


